
@charset "UTF-8";

BODY {
margin: 20px;
}

.outframe{
  border:none;

}


td{
padding: 3 12 3 12;
border-style: ridge none none none;
}

a{
  text-decoration:none;
}

table{
  border:2px solid lightgray;
  margin:10px;
  border-radius: 10px;

}

.month{
  text-align:center;
  font-size:40;
  border-top-left-radius: 10px;
	border-top-right-radius: 10px;
  background:lightgray;
  color:white;
}

.week{
  background:lightgray;
  color:white;
}

.week_5{
  color: blue;
}
.week_6{
  color: red;
}

#holiday{
  color: red;
  position:relative;
}

.year_celected{
  text-align:center;
}

.top_year{
  font-size:40;
  padding:13px 16px 10px;
  position:relative;
  top:4px;
}

.prev,.next{
  width: 15px;
	height: 15px;
	background-color: #e3e3e3;
	border: 1px solid #e3e3e3;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	color: #fff;
	padding: 4px 19px 8px;
  margin:20px;
  font-size:280%;
}

.prev:hover,.next:hover{
  background-color: lightgray;
  border: 1px solid lightgray;
  position:relative;
  top:2px;
  left:1px;

}

#yearfixed {
    position: fixed;
    top: 100px;
    left: 0px;
    font-size: 100%;
    color: #fff;
    width: 100px;
    padding: 30px 0;
    text-align: center;
    display: block;
    border-radius: 5px;

    text-decoration: none;
    background: #e3e3e3;
}

#today{
  background-color: lightgray;
  border-radius: 5px;
  bordar:none;
}
#holiday_today{
  background: lightblue;
  color:red;
  border-radius: 5px;
}
#holiday{
  color:red;
  }
